{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

     <div class="container">
          <div class="row mb-3">
               <div class="col-4">
                  <img class="book_profile_pic" src="{{ book.image.url }}" alt="book picture">
               </div>
               <div class="col-8">
                    <h3>{{ book.title }}</h3>
                   <b>Author by</b>
                   {% for book_author in book.bookauthor_set.all %}
                        {% if forloop.last %}
                            <span class="fst-italic"><a href="{% url 'book_author' book_author.id %}">{{ book_author.author.full_name }}</a> </span>
                        {% else %}
                            <span class="fst-italic"><a href="{% url 'book_author' book_author.id %}">{{ book_author.author.full_name }}</a>,</span>
                        {% endif %}
                   {% endfor %}
                    <p>{{ book.description }}</p>
               </div>
          </div>

          <h3>Reviews</h3><hr>
         {% for comment in comments %}
          <div class="row mb-3">
                <div class="col-1">
                    <img class="small_pic" src="{{ comment.user.image.url }}" alt="user picture">
                </div>
                <div class="col-5 ms-5">
                    <b>@{{ comment.user.username }}</b> rate it {{ comment.stars_given }}, <span class="fw-lighter">{{ comment.created_time }}</span>
                    {% if comment.user == request.user %}
                     <a href="{% url 'review_edit' book.id comment.id %}"><i class="bi bi-pencil"></i></a>
                     <a href="{% url 'confirm_review_delete' book.id comment.id %}"><i class="bi bi-trash3"></i></a>
                    {% endif %}
                    <p class="font-monospace">{{ comment.comment }}</p>
                </div>
          </div>
         {% endfor %}
         <div class="row">
             <div class="col-6">
                <form method="post" action="{% url 'review' book.id %}">{% csrf_token %}
                     {{ book_review_form | crispy }}
                     <button class="btn btn-success" type="submit">yuborish</button>
                </form>
             </div>
         </div>
     </div>

{% endblock content %}